<nav class="sidenav">
    <section class="sidenav-content">
        <div class="clr-row"> 
            <!-- margin -->
            <div class="clr-col-2"> 
                <span></span>
            </div>
            <div class="clr-col-8">
                <clr-select-container>
                    <label>Breed</label>
                    <select clrSelect name="options">
                    <option value="oneaaaaaaa">Osasasaasne</option>
                    <option value="twssso">Two</option>
                    <option value="three">Three</option>
                    </select>
                </clr-select-container>
                <clr-toggle-container>
                    <label>Judas Mode</label>
                    <clr-toggle-wrapper>
                        <input type="checkbox" clrToggle value="option1" name="options" />
                    </clr-toggle-wrapper>
                </clr-toggle-container>
            </div>
            <!-- margin -->
            <div class="clr-col-2"> 
                <span></span>
            </div>
        </div>
    </section>
</nav>
<!-- 

<nav class="sidenav">
    <div class="clr-col">
        <span></span>
    </div>  
    <section class="sidenav-content">

        <clr-select-container>
            
            <label>Breed</label>
            <select clrSelect name="options">
              <option value="one">One</option>
              <option value="two">Two</option>
              <option value="three">Three</option>
            </select>
        </clr-select-container>

        <clr-toggle-container>
            <label>Judas Mode</label>
            <clr-toggle-wrapper>
                <input type="checkbox" clrToggle value="option1" name="options" />
            </clr-toggle-wrapper>
        </clr-toggle-container>
    </section>
    
</nav> -->

